---
# https://docs.travis-ci.com/user/reference/bionic/
dist: bionic

language: python
python:
  - 3.6
  - 3.7
  - 3.8

matrix:
  include:
    - python: 3.7
      env: TOXENV=py37-ansible29

before_install:
  - ci/travis/before_install.sh

install:
  - pip install tox-travis

script:
  - tox

# vim:sw=2:ts=2:et:
